input[type=checkbox], 
input[type=radio] {
    width: 25px !important;
    -webkit-appearance: checkbox  !important;
}

.high_vh {

    height: 100vh !important;
    background-size:     cover; 
    background-repeat:   no-repeat;
    background-position: center center; 
}

.center_v {

   margin: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
}

.transp_white{
    background-color: rgba(255, 255, 255, 0.7) !important;
}

#message {
    position: fixed;
    top: 10%;
}
#inner-message {
    margin: 0 auto;
}

.shadow_custom{
    box-shadow: 0 .9rem .7rem rgba(0,0,0,.15) !important;
}

li.paginate_button.disabled > a {
    color: lightgrey;
}

.my-custom-scrollbar {
    height: 50vh;
    overflow-y: overlay;
}

.selected_item {
    background: lightgray;
}

.padding-0{
    padding-right:0;

}

.b-none{
    padding: 0;
    border: none;
    background: none;
}

button.b-none:active {
    padding: 0;
    border: none;
    background: none; 
}

.ecg-canvas {
    border: 1px solid #cccccc; 
    border-radius: 5px; 
    cursor: pointer;
    background: white;
}

.y_label{
    /* writing-mode: tb-rl; */
    -webkit-transform: rotate(-90deg);   
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.y_box{
    width: 40px;
    margin-top: 100px;
    position: absolute;
    left: -10px;
}