{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}

{% if current_user.is_authenticated %}

<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    ECG Data 
  </h1>
  <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">ECG Data</li>
  </ol>
</section>

<section class="content">
    <div class="row">
      <div class="col-md-12">
        <!-- Table Records Widget -->
        {% from 'rich_widget/_table_records.html' import f_tableRecords %}
        {% call(loop, record) f_tableRecords(headerCtrl, tableHeader, tableRecords, footerCtrl) %}
          <!-- Create Table Content -->
          <td>{{ loop.index + tableRecords.per_page*(tableRecords.page - 1) }}</td>
          <td>{{ record['name'] }}</td>
          <td>{{ record['fs'] }}Hz</td>
          <td>{{ record['file_name'] }}</td>
          <td><i class= "fa {{ 'fa-check text-green' if record['is_procced'] else 'fa-close'}}" ></i></td>
          <td>{{ record['upload_at'].strftime("%m/%d/%Y %H:%M:%S") }}</td>
          <td>{{ record['upload_by'] }}</td>
          <td>
            <a href="{{ url_for(headerCtrl.procced_act, _id = record['id']) }}" class="btn btn-xs btn-success {{ 'disabled' if record['is_procced'] else '' }}">
              <i class="fa fa-play"></i>
            </a>
            <a href="{{ url_for(headerCtrl.detail_act, _id = record['id']) }}" class="btn btn-xs btn-primary ml_5">
              <i class="fa fa-edit"></i>
            </a>
            {% if 'delete_act' in headerCtrl %}
              <a href="{{ url_for(headerCtrl.delete_act, _id = record['id']) }}" class="btn btn-xs btn-danger ml_5">
                <i class="fa fa-trash"></i>
              </a>
            {% endif %}
          </td>
        {% endcall %}
      </div>
    </div>
  </section>
<!-- /.content -->

{% else %}
  {% include 'common/_invalid_permission.html' %}
{% endif %}

{% endblock body %}

{% block js_custom %}

{% endblock js_custom %}